{{ define "main" }}

<nav class="grid">
	{{ $num_tiles := 40 }}
	{{ $full_list := .Site.RegularPages | shuffle | first $num_tiles }}
	{{ $counter_jump_size := 5 }}
	{{ $counter := $counter_jump_size }}
	{{ range $full_list }}
		{{ $temp_counter := 0 }}
		{{ if .Params.ongoing }}
			{{ $temp_counter = math.Round (mul $counter 0.5) }}
		{{ else }}
			{{ $counter = add $counter $counter_jump_size }}
			{{ $temp_counter = $counter }}
		{{ end }}

		{{ .Scratch.Set "counter" $temp_counter }}
		{{ partial "grid-summary.html" . }}
	{{ end }}

	{{ .Scratch.Set "counter" -1 }}
	{{ partial "grid-text.html" (dict "context" . "message" "home-message-1") }}

	{{ .Scratch.Set "counter" (math.Round (mul 1.0 $counter)) }}
	{{ partial "grid-text.html" (dict "context" . "message" "home-message-2") }}
</nav>

<!-- Iets dat de metadata icoontjes uitlegt? -->

{{ end }}