# redirect any HTTP request to HTTPS
RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !https
SetEnvIf X-Forwarded-Proto "https" HTTPS=on
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# PRE-PRODUCTION NOTES:
# Before the website goes into production, these things need to be changed:
# -> RewriteBase must be /
# -> ErrorDocument gets the actual domain name

RewriteEngine on
# RewriteBase /RodePanda/
RewriteBase /

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^([^/.]+)/?$ index.php?cat=$1
RewriteRule ^([^/.]+)/([^/.]+)/?$ index.php?cat=$1&subcat=$2
RewriteRule ^([^/.]+)/([^/.]+)/([^/.]+)/?$ index.php?cat=$1&subcat=$2&project=$3

# to avoid redirecting my links to the theme folder (ERR_TOO_MANY_REDIRECTS)
# somehow, this only happens on SOME browsers on SOME devices, but hey, this fixes it
RewriteCond %{REQUEST_URI} !^/theme/?$

ErrorDocument 404 https://rodepanda.com



