{{ $rand_mask := index (seq 4 | shuffle) 0 }}
{{ $col := or .Params.color "default" }}
{{ $resize := or .Params.resize 1 }}
{{ $safe_title := replaceRE "(\\s)" "" (.Params.Title | lower) }}

{{ $img_url := partial "func/get-image-url.html" (dict "context" . "type" "thumb") }}
{{ $item_type := printf "item-type-no-thumbnail-%s" $safe_title }}
{{ if $img_url }}
	{{ $item_type = "" }}
{{ end }}

{{ $thumb_bg_col := "" }}
{{ if .Params.thumb_bg }}
	{{ $thumb_bg_col = printf "background-color:%s;" .Params.thumb_bg }}
{{ end }}

{{ $tooltip := (printf "%s: %s" .Title .Summary) | safeHTML }}

{{ $list_page := or (eq .Kind "taxonomy") (eq .Kind "term") }} <!--- a tag, a category, taxonomy, ... --->
{{ $single_entry := not $list_page }} <!--- an actual project / single page with its own data --->
{{ $counter_external := .Scratch.Get "counter" }}

<a href="{{ .RelPermalink }}" class="grid-item item-mask-{{ $rand_mask }} preselected-color-{{ $col }} item-resize-{{ $resize }} {{ $item_type }}" style='order: {{ $counter_external }}' title="{{ $tooltip }}">
	<div class="thumb-shadow"></div>

	{{ if $single_entry }}
		<!-- Display thumbnail -->
		{{ partial "show-image.html" (dict "context" . "img_url" $img_url) }}

		<!-- To get some TEXT in here -->
		<span class="grid-item-metadata">
			<h2>{{ .Title }}</h2>
			<span>({{ .Section }})</span>
		</span>

		<!-- Loop through both categories and tags (in that order) -->
		<!-- Display the icon for the first 3 (at most) -->
		<span class="thumbnail-taxonomy-list">
			{{if or .Params.categories .Params.tags }}
				{{ $full_list := union .Params.categories .Params.tags }}
				{{ range $index, $item := $full_list | first 3 }}
					<span class="thumbnail-taxonomy-item">
						<span title="{{ $item }}" class="metadata-icon icon-{{ $item }}"></span>
					</span>
				{{ end }} 
			{{ end }}
		</span>
	{{ end }}

	{{ if $list_page }}
		<div class="no-thumbnail-block thumb-metadata thumb-metadata-icon-{{ $safe_title }}">
			<span>{{ .Params.Title }}</span>
		</div>
	{{ end }}

	<div class="thumb-bg" style="{{ $thumb_bg_col | safeCSS }}" ></div>
</a>