@use "critical_modules/globals" as g;

/* General / Body */
* {
	box-sizing: border-box;
}

body,html {
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0px;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
	margin-top: 0px;
}

/* Lists */
p + ul, h2 + ul {
	margin-top: -1em;
	margin-bottom: 2em;
	padding-left: 2em;
}

/* Homepage */
.home-message-1 {
	font-size: 24px !important;

	@media all and (max-width: g.$cutoff3) {
		font-size: 18px !important;
	}
}

@media all and (max-width: g.$cutoff3) {
	.home-message-2, .home-message-3 {
		li a {
			text-decoration-thickness: 1px !important;
		}
	}	
}

