{{ define "main" }}
	
	{{ $official_url := .Params.official }}
	{{ $devlog_url := .Params.devlog }}
	{{ $layout_dir := or .Params.layoutDir "vertical" }}

	<article class="content-container layout-{{ $layout_dir }}">
		{{ $img_url := partial "func/get-image-url" (dict "context" . "type" "header") }}
		{{ if $img_url }}
			<section class="post-header">
				{{ partial "show-image.html" (dict "context" . "img_url" $img_url) }}
			</section>
		{{ end }}

	    <div class="markdown-content-block">
	    	<section>
				{{ if $official_url }}
					<a href="{{ $official_url }}" class="header-link"><h1>{{ .Title }}</h1></a>
				{{ else }}
					<h1>{{ .Title }}</h1>
				{{ end }}

				{{ if not .Params.hideUrl }}
					{{ if $official_url }}
						<div class="official-url large-version">
							<span>{{ i18n "official-page" }}: </span><a href="{{ $official_url }}" title='{{ i18n "official-page-explanation" }}'>{{ $official_url }}</a>
						</div>
						<div class="official-url small-version">
							<a href="{{ $official_url }}" title='{{ i18n "official-page-explanation" }}'>{{ i18n "official-page-explanation" | humanize }}</a>
						</div>
					{{ end }}

					{{ if $devlog_url }}
						<div class="official-url large-version">
							<span>{{ i18n "devlog-page" }}: </span><a href="{{ $devlog_url }}" title='{{ i18n "devlog-page-explanation" }}'>{{ $devlog_url }}</a>
						</div>
						<div class="official-url small-version">
							<a href="{{ $devlog_url }}" title='{{ i18n "devlog-page-explanation" }}'>{{ i18n "devlog-page-explanation" | humanize }}</a>
						</div>
					{{ end }}
			   	{{ end }}
				
				{{ .Content }}
			</section>

			{{ if not .Params.hideMetadata }}
				<section class="metadata">
					<time class="metadata-text date">
						{{ .Date.Format "January 2, 2006" }}
					</time>

					{{ if .Params.ongoing }}
						<span class="metadata-text ongoing-project">{{ i18n "ongoing" }}</span>
					{{ end }}

					{{ $type := "professional" }}
					{{ if .Params.type }}
						{{ $type = .Params.type }}
					{{ end }}
					<span class="metadata-text intended-type">{{ i18n $type }}</span>

					{{ if .Params.unfinished }}
						<span class="metadata-text status">{{ i18n "unfinished" }}</span>
					{{ end }}

					{{ $assignment := "own-project" }}
					{{ if .Params.assignment }}
						{{ $assignment = "assignment" }}
					{{ end }}

					<span class="metadata-text assignment">{{ i18n $assignment }}</span>

					{{ range $index, $item := .Params.categories }}
						<a class="taxonomy-item" title="{{ $item }}" href={{ printf "/categories/%s" $item | relLangURL }}>
							<span class="metadata-icon icon-{{ $item }}"></span>
						</a>
					{{ end }} 

					{{ range $index, $item := .Params.tags }}
						<a class="taxonomy-item" title="{{ $item }}" href={{ printf "/tags/%s" $item | relLangURL }}>
							<span class="metadata-icon icon-{{ $item }}"></span>
						</a>
					{{ end }} 
				</div>
			</section>
		{{ end }}

		<div class="horizontal-filler"></div>
	</article>

{{ end }}